# =======================================
# WebArena Mailcow shared environment
# =======================================

# IDE + OS
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db

# SSL / private keys (never commit!)
data/assets/ssl/*
data/assets/ssl-example/*
data/conf/ssl/
data/conf/dovecot/sni.conf
data/conf/postfix/sni.map*
data/conf/phpfpm/sogo-sso/sogo-sso.pass
data/conf/sogo/sieve.creds
data/conf/sogo/cron.creds

# Mailcow backup scripts
backup/
update_diffs/
refresh_images.sh
rebuild-images.sh
create_cold_standby.sh

# Temp + cache
data/web/templates/cache/*
data/web/.well-known/acme-challenge
data/conf/nginx/*.bak
data/conf/nginx/*.active
data/conf/nginx/*.custom
data/conf/rspamd/custom/*
data/conf/rspamd/local.d/*
data/conf/rspamd/override.d/*

# =======================================
# INCLUDE your actual shared data
# =======================================
!data/conf/
!data/mysql/
!data/vmail/
!data/redis/
!data/rspamd/
!data/unbound/
!data/web/
